In [1]:
%pip install scipy

Requirement already satisfied: scipy in d:\users\lenovo\anaconda3\lib\site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in d:\users\lenovo\anaconda3\lib\site-packages (from scipy) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline
import statistics as stats

from scipy.stats import norm

import random

In [3]:
df = pd.read_csv('Cell Phone Survey.csv')

print(type(df))

df.head()

<class 'pandas.core.frame.DataFrame'>

,Gender,Carrier,Type,Usage,Signal strength,Value for the Dollar,Customer Service
0,M,AT&T,Smart,High,5,4,4
1,M,AT&T,Smart,High,5,4,2
2,M,AT&T,Smart,Average,4,4,4
3,M,AT&T,Smart,Very high,2,3,3
4,M,AT&T,Smart,Very high,5,5,2

In [4]:
df_mean = df['Signal strength'].mean()
print("Mean of Signal strength column is" ,df_mean)

Mean of Signal strength column is 3.3076923076923075

In [5]:
df_Median = df['Customer Service'].median()
print("Median of Customer Service column is" ,df_Median)

Median of Customer Service column is 3.0

In [6]:
df_Mode = df['Signal strength'].mode()
print("Mode of Signal strength column is" ,df_Mode)

Mode of Signal strength column is 0    3
Name: Signal strength, dtype: int64

In [7]:
df_stdev = df['Customer Service'].std()
print("Standard deviation of Customer Service column is" ,df_stdev)

Standard deviation of Customer Service column is 0.9623375261979594

In [36]:
df_Variance = df['Customer Service'].var()
print("Variance of Customer Service column is" ,df_Variance)

Variance of Customer Service column is 0.9260935143288083

In [39]:
df_col = df['Value for the Dollar']
df_percentile_25 = np.percentile(df_col, 25)
df_percentile_75 = np.percentile(df_col, 75)
print("df_percentile_25:",df_percentile_25)
print("df_percentile_75:",df_percentile_75)

df_percentile_25: 3.0
df_percentile_75: 4.0

In [40]:
df_range = df['Value for the Dollar'].max() - df['Value for the Dollar'].min()

print("Range of Value for the Dollar column is" ,df_range)

Range of Value for the Dollar column is 4

In [41]:
df_IQR = df_percentile_75 - df_percentile_25
print("InterQuartile Range of Value for the Dollar column is" ,df_IQR)

InterQuartile Range of Value for the Dollar column is 1.0